header{
    font-family: 'Homemade Apple', cursive;
    color: #03a9f4;
}

.SocialPosts_ThoughtBtn{
    font-family: 'Dosis', sans-serif;
    background-color: #03a9f4;
    color: white;
    font-weight: bolder;
}